{% extends "base.html" %}
{% block titulo %}Agregar{% endblock %}

{% block contenido %}
{% include '__menu.html' %}
    <div class="container text-left mt-5">
        <div class="row justify-content-center">
            <form action="/agregar/procesar" method="POST">
                <div class="form-group ">
                    <h2>Agregar un usuario</h2>
                </div>
                <div class="form-group ">
                    <label for="nombre">Nombre:</label>
                    <input  class="form-control" type="text" name="nombre">
                </div>
                <div class="form-group">    
                    <label for="apellido">Apellido:</label>
                    <input class="form-control" type="text" name="apellido">
                </div>
                <div class="form-group">
                    <label for="mail" >Email:</label>
                    <input class="form-control" type="email" name="mail">
                </div>
                <input class="btn btn-primary" type="submit" value="Agregar">
            </form>
        </div>
    </div> 
{% endblock %}