{% extends "base.html" %}
{% block titulo %}INDEX{% endblock %}

{% block contenido %}
{% include '__menu.html' %}
    <div class="container mt-5 mb-5">
        <h2>Informacion de usuarios</h2>
        <table class="table table-hover">
            <thead>
                <th scope="col ">ID</th>
                <th scope="col ">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Mail</th>
                <th scope="col">Fecha Creacion</th>
                <th scope="col">Acciones</th>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.nombre}}</td>
                    <td>{{user.apellido}}</td>
                    <td>{{user.mail}}</td>
                    <td>{{user.created_at}}</td>
                    <td>
                        <a class="btn btn-info" href="/usuarios/{{user.id}}" >Mostrar</a>
                        <a class="btn btn-warning" href="/usuarios/{{user.id}}/editar" >Modificar</a>
                        <a class="btn btn-danger" href="/eliminar/{{user.id}}" >Eliminar</a>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <h2>
            
                <a class="btn btn-primary" href="/usuarios/agregar"> Agregar nuevo usuario</a>
            
        </h2>
    </div>
{% endblock %}
